html {
  font-size: 16px;
}

body {
  margin: 0;
}

.body {
    padding: 0 5rem;
    background-color: antiquewhite;
    min-height: 75vh;

}

.contact {
  min-height: 65vh; 
  padding: 5rem 0 0 5rem;

}

.discount {
  position: absolute;
  margin: 13rem 0 0 5rem;
  color: white;
  background-color: brown;
  font-weight: 900;
  font-family: cursive;
  font-size: small;
}

.header {
 display: flex;
 justify-content: space-between;
 background-color: moccasin;
 padding: 0.5rem 0.5rem 0;
 border-radius: 2%;
}

.footer {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0.5rem 0.5rem 0;
    border-radius: 2%;
   }

.logo-container {
    margin-bottom: 0.4rem;
}

.main-logo {
 height: 100px;
 width: 100px;
}

.nav > ul {
list-style: none;
display: flex;
}

.nav > ul > li {
    font-size: 1.5rem;
    padding: 0.5em
}

.nav > ul > li > a {
    text-decoration: none;
}

.offline {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.restaurant-info {
    padding: 0.3rem 1rem;
}

.restaurant-logo {
    text-align: center;
}

.restaurant-logo > img {
    width: 14rem;
    height: 13rem;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card {
    display: inline-block;
    padding: 0 0.3rem 0.3rem 0.7rem;
    width:250px;
    margin: 1rem;
    background-color: black;
    border-radius: 5%;
}

.restaurant-name {
    color: aliceblue;
    font-family: cursive;
    font-size: 1rem;
    font-weight: bold;
    width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

}

.restaurant-rating {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: gold;
}
  
.restaurant-rating img {
    margin-right: 0.3rem; /* Adjust the margin between the image and text */
}

.restaurant-cuisines{
    font-size: 0.8rem;
    color: lightgray;
    max-width: 14rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurant-costForTwo {
    font-size: 0.8rem;
    color: #777;
}

.toolbar {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0rem 1rem 2rem
  }

.search-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.filter-button {
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 30px;
    outline: none;
    padding: 0.3rem 1rem;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    margin-right: 0.5rem;
}

.filter-button:hover {
  transform: scale(1.1);
}
      
.top-rated-button:hover {
    background-color: #007BFF; /* Background color on hover */
    color: #fff; /* Text color on hover */
}


/* shimmer */
.shimmer-card {
    display: inline-block;
    padding: 0 0.3rem 0.3rem 0.7rem;
    width: 250px;
    height: 281px;
    margin: 1rem;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 400% 100%;
  animation: shimmerAnimation 1.5s infinite linear;
  border-radius: 5%;
}

@keyframes shimmerAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.session-btn {
  border-radius: 0.7rem;
  margin: 0.7rem 0 0 0.5rem;
  font-weight: 600;
  height: 2rem;
  padding: 0 1rem;
  font-size: larger;
  background: seashell;
}

.login-btn {
  display: inline-block;
  margin: 0 2rem 0 0.5rem;
  font-weight: 600;
  padding: 0 1rem;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: #ffffff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover effect */
.login-btn:hover {
  background-color: #3498db;
  color: #ffffff;
  border-color: #ffffff;
}


.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 4rem;
}

.menu-item {
  width: 15rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.menu-image-container img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.menu-text-container {
  padding: 16px;
}

.menu-item-name {
  margin: 0 0 8px;
  font-size: 18px;
}

.menu-category {
  color: #888;
}

.menu-price {
  font-weight: bold;
  font-size: 16px;
  color: #e44d26;
}

.resto-menu-info {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resto-menu-name {
  color: darkgoldenrod;
  margin: 0 0 12px;
  font-size: 24px;
  text-decoration: overline;
}

.resto-menu-cuisine {
  margin: 0 0 8px;
  color: #333;
}

.resto-menu-cost {
  font-weight: bold;
  font-size: 18px;
  color: #555;
}

.footer-container {
  background-color: #333;
  color: #fff;
  padding: 1px 0 0;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
  background-color: #222;
  padding: 10px 0;
}



